<ion-view view-title="AuthKnown">
    <ion-header-bar>
        <h1 class="title"><i class="icon ion-happy-outline"></i> Hooru</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doAuth(user)">
            <div class="list">
                <label class="item">
                    <p>Wähle unten deinen bisherigen Benutzer:</p>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="What is your name?" ng-model="user.name">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">No</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>