<ion-view view-title="Auth">
    <ion-header-bar>
        <h1 class="title">Welcome to Hooru.</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item">
                <p>Please tell me, if we already know each other.</p>
            </label>
            <label class="item">
                <div class="row">
                    <label class="col">
                        <button class="button button-block button-positive" ng-click="doAuthYes()">Yes</button>
                    </label>
                    <label class="col">
                        <button class="button button-block button-positive" ng-click="doAuthNo()">No</button>
                    </label>
                </div>
            </label>
        </div>
    </ion-content>
</ion-view>
