<ion-view view-title="Calc">
    <ion-header-bar>
        <h1 class="title"><i class="icon ion-happy-outline"></i> Hooru</h1>
    </ion-header-bar>
    <ion-content scoll="false">
        <div class="row">
            <div class="col">
                <p>Hooru hat deine Daten aufgezeichnet.</p>
                <p>Um dich zu erkennen, muss das neuronale Netzwerk in Hooru auf das Profil deiner Tastendrücke trainiert werden.
                    Dies geht auf Desktop-Computern relativ schnell, kann auf mobilen Devices aber sehr lange dauern.</p>
            </div>
        </div>

        <div class="row">
            <label class="col">
                <button class="button button-block button-stable" ng-click="doStart()">Zum Start</button>
            </label>
            <label class="col">
                <button class="button button-block button-positive" ng-click="doCalc()">Trainieren</button>
            </label>
        </div>
    </ion-content>
</ion-view>
