<ion-view view-title="Write">
    <ion-header-bar class="bar bar-header bar-dark">
        <button class="button button-clear"><i class="icoc ion-arrow-left-b"> zurück</i></button>
        <h1 class="title" ng-bind-html="title"></h1>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="row">
            <div class="col">
                <p ng-bind-html="read"></p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <textarea name="write" style="width: 100%" rows="3" ng-keydown="doKeyDown()" ng-keyup="doKeyUp(write)"
                          ng-model="write" ng-trim="false" autocomplete="off" autocorrect="off" autocapitalize="off"
                          spellcheck="false" autofocus></textarea>
            </div>
        </div>
        <div class="row">
            <label class="col">
                <button class="button button-block button-stable" ng-click="doReset()">Reset</button>
            </label>
            <label class="col">
                <button ng-disabled="incomplete" class="button button-block button-positive" ng-click="doCalc()">Absenden</button>
            </label>
        </div>
    </ion-content>
</ion-view>
