/* Empty. Add your own CSS if you like */

.title{
    color: #555753;
}

.textmarker_0{
    background-color: #4cd964;
}

.textmarker_1{
    background-color: yellow;
}

.textmarker_2{
    background-color: red;
}

.hoorulogo{
    font-size: 35vw;
    color: #babdb6;
}

.hoorutext{
    font-size: 10vw;
    font-weight: bold;
    color: #babdb6;
    margin: 5vw 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}